.DS_Store
known_hosts
.envrc
certs/*.pem
certs/*.p12
certs/*.srl
certs/*.crl
certs/exts
certs/openssl.cfg
certs/jwtES512.key
certs/jwtES512.key.pub
certs/jwtAPI.key
certs/gmdata_master.key
k8s/sync.yaml
